.notes-app {
  width: 100%;
  display: flex;
  height: auto;
  height: 100dvh;
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: rgb(32, 32, 32);
}
body {
  background-color: var(--background-color);
  margin: 0px;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica";
  color: var(--font-color);
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}
@media (max-width: 640px) {
  .notes-app {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
