.notes-list {
  width: 100%;
  margin-top: 20px;
  padding: 8px;
}

.heading-notes-list {
  font-size: 22px;
  margin-block: 10px;
  font-weight: 500;
  margin-top: 0px;
}

.notes-component-container {
  width: 100%;
  overflow: scroll;
  display: flex;
  column-gap: 10px;
}

.no-notes {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
