.sidebar {
  width: 76px;
  border-right: gray 1px solid;
  display: flex;
  justify-content: center;
  padding-block: 50px;
  height: 100vh;
}

.sidebar button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  outline: none;
  border: none;
}

.sidebar button:hover {
  transform: scale(1.1);
}

.sidebar button img {
  transition: 0.4s;
  width: 25px;
  height: 25px;
}

@media (max-width: 640px) {
  .sidebar {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 0px;
    position: relative;
    flex-shrink: 0;
  }
}
